<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBerpXB3CxQxE8PZlGf0XWCezFmGQNOcvE</string>
	<key>GCM_SENDER_ID</key>
	<string>627236044334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.petra.ProyekWallet</string>
	<key>PROJECT_ID</key>
	<string>proyekwallet</string>
	<key>STORAGE_BUCKET</key>
	<string>proyekwallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627236044334:ios:b1493002798ffc6162a9bf</string>
	<key>DATABASE_URL</key>
	<string>https://proyekwallet-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>